# copyright and secret material
config.dat
config.json
*.dat
#custom text files
*.txt
_venv
# executables not part of project
# *.exe

#visual studio specific files
*.sln
*.pyproj
.vs
*.suo
*.sqlite
__pycache__
*.spec 
TwitchBot.spec
*.user
# exe dist
dist
build
/config.json
/module1.py
/1csw.dat
/test.json
