# copyright and secret material
config.dat
config.json
*.dat

# executables not part of project
# *.exe

#visual studio specific files
*.sln
*.pyproj
.vs
*.suo
*.sqlite
__pycache__
*.user
# exe dist
dist
build
/config.json
/module1.py
/1csw.dat
/test.json
