{
    "api_token": "oauth:MYAPITOKEN",
    "irc_token": "oauth:MYIRCTOKEN",
    "client_id": "MYCLIENTID",
    "nick": "WordSmith",
    "channels": {
        "cocoscrabble": {
            "alphabet": "ABCDEFGHIJKLMNOPQRSTUVWXYZ?",
            "lexicon": "csw",
            "command_blacklist": []
        }
    }
}
